@charset 'utf-8';

$dark-blue: #0024a2;
$light-blue: #165bdf;
$dark-green: #3d7a40;
$forest-green: #63f06a;

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap");
$family-sans-serif: "Jost", "Helvetica", "Arial", sans-serif;

$grey-darker: $dark-blue;
$grey-dark: $light-blue;
$body-background-color: #12ceb244;

$body-overflow-y: auto;
$navbar-height: 4rem;
$primary: $dark-blue;
$success: $forest-green;
$link: $dark-green;
@import "../node_modules/bulma/bulma.sass";
